body {
    background: #FFFEED;
    font-size: 18px;
    font-family: Didot; 
    text-align: center;
}


.rectangle {
    background: #FFFFFF;
    width: 600px; 
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 75%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
