body {
    background: #FFFEED;
    font-size: 18px;
    font-family: Didot; 
}


.rectangle {
    background: #FFFFFF;
    width: 600px; 
    height: auto;
    position: relative;
    margin: 10px 312px 0 312px;
}

img {
    width: 75%;
    position: relative;
    margin: 5px;
}