body {
    font-family:'Lato', sans-serif;
    font-style: bold;
    font-size: 200px;
    margin: 0px;
}



.hover img {
    width: 1000px;
    height: auto;
}



.hover {
    position: absolute;
    top: 293px;
    left: 288px;
    opacity: 0;
}

.hover:hover {
    
    opacity: 1.0;

}

