.body {
    color: #ffffff;
}

.section1{
    position: absolute;
    top: 1000px;
    left: 120px;
    background: #0000FF;
}
.line1a {
    color: #000000; 
    font-family: Avenir;
    font-style: bold;
    font-size: 400px; 
    position: absolute;

}
  
img {
    width: 100%;

}

.section2 {
    position: absolute;
    top: 50px;
    
}
