body {
    font-family: Avenir;
    font-weight: medium;
    color: white; 
    background: #000000;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 564px;
    height: 867px;
    left: 438px;
    position: absolute;
    top: 88px;
}

  /*marquee {
    background: #ff0;
} 
*/


.line1 {
    font-size: 300px;
    position: absolute;
    top: 0px;
    left: 26px;
    margin: 0px;
}

.line2 {
    font-size: 300px;
    position: absolute;
    top: 73px;
    left: 314px;
    margin: 0px;
}

.line3 {
    font-size: 300px;
    position: absolute;
    top: 288px;
    left: 87px;
    margin: 0px;
}

.line4 {
    font-size: 300px;
    position: absolute;
    top: 365px;
    left: 314px;
    margin: 0px;
}

.section2 {
    width: 1440px;
    height: 950px;
    top: 1061px;
    position: absolute;
    left: 0px;
    background: #CF3E3E;
}

.wrapper1 {
    width: 564px;
    height: 593px;
    left: 86px;
    position: absolute;
    top: 32px;
    font-size: 24px;
}

.wrapper2 {
    width: 160px;
    height: 593px;
    left: 640px;
    top: 341px;
    position: absolute;
    font-size: 24px;
}

.wrapper3 {
    width: 564px;
    height: 593px;
    left: 799px;
    position: absolute;
    top: 32px;
    font-size: 24px;
}