body {
    background: #000;
    font-family: Avenir;
    color: #fff;
    margin: 0px;
}

.wrapper1 {
    width: 1440px;
    height: 2200px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 80px;
}

.textbox {
    width: 1224px;
    height: 674px;
    position: absolute;
    left: 130px;
    top: 65px;
}

.fall1 {
    position: absolute;
    left: 740px;
    top: 700px;
}

.fall2 {
    position: absolute;
    left: 972px;
    top: 1080px;
    font-size: 60px;
}

.fall3 {
    position: absolute;
    left: 1098px;
    top: 1675px;
    font-size: 30px;
}

.falling1 {
    position: absolute;
    left: 1178px;
    top: 1747px;
    font-size: 25px;
}

.falling2 {
    position: absolute;
    left: 1210px;
    top: 1848px;
    font-size: 20px;
}

.falling3 {
    position: absolute;
    left: 1243px;
    top: 2145px;
    font-size: 10px;
}