body {
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    font-style: bold;
}

.wrapper {
    font-size: 50px;
    width: 220x;
    height: 70px;
    position: absolute;
    left: 610px;
    top: 344px;
    transition: 1s;
}


.wrapper1:hover{
    transform: scale(2);
}
