body {
    font-family:'Lato';
    font-weight: Bold;
    font-size: 100px;
}

.wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.f1{
    text-align: center;
    
    width: 62px;
    height: 130px;
    position: absolute;


    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.f1:hover {
    transform: rotateY(360deg);

}

.l1{
    text-align: center;

    width: 62px;
    height: 130px;
    position: absolute;
    left: 62px;

    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.l1:hover {
    transform: rotateY(360deg);
}

.i1{
    text-align: center;
    
    width: 62px;
    height: 130px;
    position: absolute;
    left: 114px;

    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.i1:hover {
    transform: rotateY(360deg);
}

.p1{
    text-align: center;

    width: 62px;
    height: 130px;
    position: absolute;
    left: 176px;

    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.p1:hover {
    transform: rotateY(360deg);
}

.f2{
    text-align: center;
    
    width: 62px;
    height: 130px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.f2:hover {
    transform: rotateX(360deg);
}

.l2{
    text-align: center;

    width: 62px;
    height: 130px;
    position: absolute;
    left: 62px;

    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.l2:hover {
    transform: rotateX(360deg);
}

.i2{
    text-align: center;
    
    width: 62px;
    height: 130px;
    position: absolute;
    left: 114px;

    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.i2:hover {
    transform: rotateX(360deg);
}

.p2{
    text-align: center;

    width: 62px;
    height: 130px;
    position: absolute;
    left: 176px;

    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.p2:hover {
    transform: rotateX(360deg);
}
.flip1 {
    width: 238px;
    height: 130px;
    position: absolute;
    left: 230px;
    top: 300px;
    transform: rotate(180deg) scaleY(-1);
}

.flip2 {
    width: 238px;
    height: 130px;
    position: absolute;
    left: 601px;
    top: 300px;
    transform: rotate(360deg) scaleY(-1);
}


.flip3 {
    width: 238px;
    height: 130px;
    position: absolute;
    left: 972px;
    top: 300px;
    transform: rotate(360deg) scaleX(-1);
}


.flip4 {
    width: 238px;
    height: 130px;
    position: absolute;
    left: 972px;
    top: 100px;
    transform: rotate(360deg) scaleY(-1);
}


.flip5 {
    width: 238px;
    height: 130px;
    position: absolute;
    left: 601px;
    top: 100px;
    transform: rotate(-180deg) scaleY(-1);
}

.flip6 {
    width: 238px;
    height: 130px;
    position: absolute;
    left: 230px;
    top: 100px;
    transform: rotate(360deg) scaleY(-1);
}

.flip7 {
    width: 238px;
    height: 130px;
    position: absolute;
    left: 972px;
    top: 500px;
    transform: rotate(360deg) scaleY(-1);
}


.flip8 {
    width: 238px;
    height: 130px;
    position: absolute;
    left: 601px;
    top: 500px;
    transform: rotate(-180deg) scaleY(-1);
}

.flip9 {
    width: 238px;
    height: 130px;
    position: absolute;
    left: 230px;
    top: 500px;
    transform: rotate(360deg) scaleY(-1);
}

