.img {
    min-width: 1024px;
    min-height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.line1 {
    position: absolute;
    top: 9%;
    left: 50%;
    color: #ffffff;
    font-size: 100pt;
}
.line2 {
    position: absolute;
    top: 20%;
    left: 50%;
    color: #ffffff;
    font-size: 80pt;
}

.line3 {
    position: absolute;
    top: 30%;;
    left: 50%;
    color: #ffffff;
    font-size: 70pt;
}

.line4 {
    position: absolute;
    top: 40%;;
    left: 50%;
    color: #ffffff;
    font-size: 60pt;
}
.line5 {
    position: absolute;
    top: 48%;;
    left: 50%;
    color: #ffffff;
    font-size: 55pt;
}

.line6 {
    position: absolute;
    top: 57%;
    left: 50%;
    color: #ffffff;
    font-size: 35pt;
}

.line7 {
    position: absolute;
    top: 64%;
    left: 50%;
    color: #ffffff;
    font-size: 20pt;
}

.line8 {
    position: absolute;
    top: 70%;;
    left: 50%;
    color: #ffffff;
    font-size: 15pt;
}

.line9 {
    position: absolute;
    top: 77%;;
    left: 50%;
    color: #ffffff;
    font-size: 10pt;
}

.line10 {
    position: absolute;
    top: 83%;;
    left: 50%;
    color: #ffffff;
    font-size: 8pt;
}

.line11 {
    position: absolute;
    top: 90%;;
    left: 50%;
    color: #ffffff;
    font-size: 6pt;
}


.line12 {
    position: absolute;
    top: 97%;;
    left: 50%;
    color: #ffffff;
    font-size: 2pt;
}
