body {
    background: #ffffff;
    font-weight: Bold;
    font-family: "Lato";
    font-size: 100px;
    color: #000;
    margin: 0px;
} 

.wrapper {
  
    text-emphasis: center;
    width: 668px;
    height: 140px;
    margin: 0px;
    position: absolute;
    left: 58px;
    top: 312px; 
    transition: 1s;
}

.wrapper:hover {
    transform: translateY(193px);
}

.wrapper1 {

    position: absolute;
    left: 715px;
    top: 312px;
    width: 668px;
    height: 140px;
    margin: 0px;
    transition: 1s;
}

.wrapper1:hover {
    transform: translateY(-193px);
}
