body {
    background: #000000;

} 


.line1 {
    color: #FDD106; 
    font-family: Avenir;
    font-size: 45px; 
    position: absolute;
    top: 200px;
    bottom: 200px;
    left: 300px;

}

.line2 {
    color: #FDD106; 
    font-family: Avenir;
    font-size: 45px; 
    position: absolute;
    top: 200px;
    bottom: 200px;
    left: 400px;

}

.line3 {
    color: #FDD106; 
    font-family: Avenir;
    font-size: 45px; 
    position: absolute;
    top: 200px;
    bottom: 200px;
    left: 500px;

}

.line4 {
    color: #FDD106; 
    font-family: Avenir;
    font-size: 45px; 
    position: absolute;
    top: 200px;
    bottom: 200px;
    left: 600px;

}

.line5 {
    color: #FDD106; 
    font-family: Avenir;
    font-size: 45px; 
    position: absolute;
    top: 200px;
    bottom: 200px;
    left: 700px;

}

.line6 {
    color: #FDD106; 
    font-family: Avenir;
    font-size: 45px; 
    position: absolute;
    top: 200px;
    bottom: 200px;
    left: 800px;

}


.line7 {
    color: #FDD106; 
    font-family: Avenir;
    font-size: 45px; 
    position: absolute;
    top: 200px;
    bottom: 200px;
    left: 900px;

}

.line8 {
    color: #FDD106; 
    font-family: Avenir;
    font-size: 45px; 
    position: absolute;
    top: 200px;
    bottom: 200px;
    left: 1000px;
}

