* {
    box-sizing: border-box; 
    vertical-align: top;
}

.yellow {
    width: 768px;
    height: 768px;
    background: #F8E71C;
}

.blue {
    width: 568px;
    height: 568px;
    background: #202665;
    position: relative;
    top: 100px;
    bottom: 100px;
    left: 100px;
    right:100px;
}

.green {
    width: 368px;
    height: 368px;
    background: #009E4F;
    position: relative;
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
}

.red1 {
    width: 328px;
    height: 67px;
    background: #ED2025;
    position: relative;
    top: 20px;
    bottom: 256px;
    left: 20px;
    right: 20px;
}

.red2 {
    width: 328px;
    height: 67px;
    background: #ED2025;
    position: relative;
    top: 87px;
}

.red3 {
    width: 328px;
    height: 67px;
    background: #ED2025;
    position: relative;
    top: 87px;
}

.red4 {
    width: 328px;
    height: 67px;
    background: #ED2025;
    position: relative;
    top: 87px;
}

.red {
    width: 768px;
    height: 100px;
    background: #D0021B;
    position: relative;
    top: 187px;
    left: -220px;
}

/* Positioning */
/* Static */
/* Relative */
/* Absolute */
/* Fixed */