body {
    font-family: "Lato";
    font-weight: Bold;
    font-size: 100px;
    color: #000000;
    background: #ffffff;
    margin: 0px;
    padding: 0px;
    width: 1440px;
}

.wrapper {
    width: 1440px;
    position: absolute;
    
}
.slide1 {
    background: #ffffff;
    width: 290px;
    height: 800px;
    position: absolute;
    top: 45px;
    left: 103px;
    text-align: center;
    transition: 1s;
}

.slide1:hover {
    transform: translateY(-935px);
}

.slide2 {
    background: #ffffff;
    width: 290px;
    height: 800px;
    position: absolute;
    top: 45px;
    left: 418px;
    text-align: center;
    transition: 1s;
}

.slide2:hover {
    transform: translateY(935px);
}

.slide3 {
    background: #ffffff;
    width: 290px;
    height: 800px;
    position: absolute;
    top: 45px;
    left: 733px;
    text-align: center;
    transition: 1s;
}

.slide3:hover {
    transform: translateY(-935px);
}

.slide4 {
    background: #ffffff;
    width: 290px;
    height: 800px;
    position: absolute;
    top: 45px;
    left: 1048px;
    text-align: center;
    transition: 1s;
}

.slide4:hover {
    transform: translateY(935px);
}


.circle {
    height: 10px;
    width: 10px;
    background: #000000;
    border-radius: 50%;
    position: fixed;
    left: 20px;
    top: 20px;

}

.circle:hover{
    background: #fff;
    outline: 1px solid #000000;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}





  /*marquee {
    background: #ff0;
} 
*/


