body {
    background: #ffffff;
    font-family: "Lato";
    font-weight: bold;
    color: #000000;
    margin: 0px;
    font-size: 300px;
}

.marquee {
    width: 1000px;
    position: absolute;
    left: 40px;
    top: 150px;
}

.scroll1 {
    position: absolute;
    left: 0px;
}

.scroll2 {
    position: absolute;
    left: 200px;
}

.scroll3 {
    position: absolute;
    left: 500px;
}

.scroll4 {
    position: absolute;
    left: 700px;
}

.scroll5 {
    position: absolute;
    left: 1000px;
}

.scroll6 {
    position: absolute;
    left: 1200px;
}

.marquee1a {
    font-size: 100px;
    position: absolute;
    top: 800px;
    left: 270px;
}

.scroll1a {
    position: absolute;
    left: 0px;
}

.scroll1b {
    position: absolute;
    left: 0px;
    top: 100px;
}

.scroll1c {
    position: absolute;
    left: 0px;
    top: 200px;
}

.scroll1d {
    position: absolute;
    left: 0px;
    top: 300px;
}

.scroll1e {
    position: absolute;
    left: 0px;
    top: 400px;
}

.scroll1f {
    position: absolute;
    left: 0px;
    top: 500px;
}

.marquee2 {
    position: absolute;
    top: 900px;

    width: 600px;
    height: 400px;
    left: 210px;
}

.marquee2a {
    position: absolute;
    top: 0px;
}

.marquee2b {
    position: absolute;
    top: 0px;
    left: 100px;
}

.marquee2c {
    position: absolute;
    top: 0px;
    left: 200px;
}

.marquee2d {
    position: absolute;
    top: 0px;
    left: 300px;
}

.marquee2e {
    position: absolute;
    top: 0px;
    left: 400px;
}

.marquee2f {
    position: absolute;
    top: 0px;
    left: 500px;
}

.circle {
    height: 10px;
    width: 10px;
    background: #000000;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    left: 20px;

}

.circle:active{
    background-color: #ffffff;
    border-radius: 10px;
    border: #000000;
}