body {
    background: #ffffff;
    font-family: "Lato";
    font-weight: bold;
    color: #000000;
    margin: 0px;
}

.section1 {
    background: #D8D8D8;
    width: 1000px;
    font-size: 200px;
    text-align: center;
    position: absolute;
    left: 120px;
    animation: fall 2s linear forwards ;
    
}

@keyframes fall{
    from{
        transform: translateY(-500px);
    }
    to {
        transform: translateY(0);
    }
}